@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    MyCool Payroll Inc<br />
    Auckland<br />
    <abbr title="Phone">P:</abbr>
    09 555 0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@mycoolpayroll.co.nz">Support@mycoolpayroll.co.nz</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@mycoolpayroll.co.nz">Marketing@mycoolpayroll.co.nz</a>
</address>
