################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyCool.Payroll.Bdl/bin/Debug/MyCool.Payroll.Bdl.dll
